GEMINI_API_KEY=your_google_gemini_api_key
MONGO_URL=mongodb://localhost:27017/your_database_name
POSTGRESQL_URL=postgresql://username:password@dpg-d6gg2mma2pns73fth7g0-a.oregon-postgres.render.com/your_database
