.nav {
    background-color: rgb(220, 219, 219);
    padding: 2rem;
    position: sticky;
    top: 0;
}

.nav-link {
    text-decoration: none;
    font-size: larger;
    color: rgb(15, 1, 15);
}

.nav-link:hover{
    color: brown;
}